body{
    background-color: black;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-areas: 
    'header header'
    'hero hero'
    'contenido sidebar'
    'footer footer';
    padding: 20px;
    gap: 3px;
}

#header {
    background-color: lightblue;
    grid-area: header;
    gap: 1px;
}

#hero {
    background-color: red;
    grid-area: hero;
}

#contenido {
    background-color: green;
    grid-area: contenido;
    margin-left: 30px;
}

#sidebar {
    background-color: purple;
    grid-area: sidebar;
    margin-right: 30px
}

#footer {
    background-color: gray;
    grid-area: footer;
    gap: 1px;
}
@media (max-width:480px){
    /*para movil*/
    #sidebar{
        grid-column: auto;
    }
}


